@import "tailwindcss";

@theme {
    --font-display: "Satoshi", "sans-serif";
    --font-body: "Inter", "sans-serif";
    --font-heading: "Cormorant Garamond", "serif";
}

#page-loader.hide {

  opacity: 0;
  pointer-events: none;
}

#page-loader .m-icon {
  will-change: transform, opacity;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}