@import "tailwindcss";

@theme {
    --font-display: "Satoshi", "sans-serif";
    --font-body: "Inter", "sans-serif";
    --font-heading: "Cormorant Garamond", "serif";
}

#page-loader.hide {

  opacity: 0;
  pointer-events: none;
}